# [>] generic
# [<] generic
/public/
/.cache/
/shared/
/che/assets/docs-agents/purpose.md
/lib/assets/docs-agents/purpose.md
/get-os-open-files-with/assets/docs-agents/purpose.md
/get-term-open-files-with/assets/docs-agents/purpose.md
/.che/cheVariables.local.yml
